<!--ALLE COMPONENTEN DIE UNSERE APP BENÖTIGT WERDEN HIER AUFGELISTET UND IN DER INDEX UNTER APP ROOT GELADEN-->
<!--DER GEDANKENGANG MEHRERE COMPONENTEN ZU ERSTELLEN IST, EINE BESSERE ÜBERSICHT UND NE BESEERE LESBARKEIT FÜR DEN ENTWICKLER ZU SCHAFFEN-->
<app-menu></app-menu> <!--Wir fügen mit dieser Zeile den Selector bzw. die Componente menu im Appordner unserer App hinzu -->
<app-slideshow></app-slideshow> <!--Jede Komponente erhällt einen eigenen Unterodner von APP und jeweils eine eigene SCSS, HTNL & Typescript -->