/* You can add global styles to this file, and also import other style files */
// Diese SCSS Datei ist global für alle HTML Dateien dedacht
body{
    margin: 0px;
    font-family: 'Open Sans';
    font-style: normal;
}
